.changeUserInfoContainer {
    z-index: 2;
    background-image: url(images/userControllPage/whiteBackground.png);
    background-repeat: no-repeat;
    background-size: 860px 480px;
    display: inline-block;
    width: 860px;
    height: 480px;
    position: relative;
}

.listInUserClick {
    width: 240px;
    height: 480px;
    float: left;
    display: block;
    position: fixed;
}

.listInUserClick_border {
    border-right: 1px solid rgba(161, 93, 29, 0.4);
    width: 220px;
    height: 400px;
    margin: 40px auto 0 auto;
}

.listInUserClick_border ul li {
    margin: 36px 0 36px 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.listInUserClick_border ul li:first-child {
    padding-top: 50px;
}

.clickInEdit {
    display: block;
    width: 80%;
    background-color: rgb(199, 199, 199);
    padding: 6px 10px;
    border-radius: 10px;
}

input[type="radio"].radioInEditPage {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.next {
    float: left;
    width: 620px;
    height: 480px;
    overflow: hidden;
    position: relative;
    left: 240px;
    width: 75%;
}


/*修改資訊 區塊一*/

.bk1 {
    display: none;
    position: absolute;
    top: 90px;
    left: 60px;
    display: flex;
    width: 0px;
    height: 0px;
    /*background-color: royalblue;*/
}

.lightbox img.closeEditPage {
    width: 20px;
    height: 20px;
}

.closeContainer {
    position: absolute;
    top: 25px;
    right: 50px;
}

.editPersonInfo {
    display: none;
    width: 0px;
    height: 0px;
    /*440px * 300px inline-block*/
    margin: auto;
}

.editPersonInfo .infoFirst {
    width: 100%;
    height: 60px;
}

.controlEditWidth {
    position: relative;
    margin-left: 60px;
    display: inline-block;
    width: 200px;
}

.infoFirst_name {
    position: absolute;
    left: 72px;
    bottom: 5px;
    font-size: 16px;
}


/*修改資訊 區塊二 唯一要調的css 名字*/

.infoFirst_nameInBk2 {
    position: absolute;
    left: 72px;
    bottom: 25px;
    font-size: 16px;
}

.file_uploadInEdit {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-file-upload {
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/userControllPage/changeBigHead.png);
    background-repeat: no-repeat;
    background-size: 56px 20px;
    width: 56px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.lightbox img.infoFirst_SmallHead {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


/*修改資訊 區塊一 輸入區*/

.infoEnterRow {
    width: 440px;
    height: 42px;
    position: relative;
    margin: 10px 0;
}

.infoEnterRow_fieldName {
    display: inline-block;
    line-height: 42px;
    width: 80px;
    margin-right: 5px;
    text-align: right;
}

input[type="text"].infoEnterRow_inputField {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/userControllPage/inputField.png);
    background-repeat: no-repeat;
    background-size: 325px 41px;
    padding-left: 20px;
    width: 325px;
    height: 41px;
    outline:none;
}


/*修改資訊 區塊一 提交*/

input[type="submit"].infoEnterRow_inputField {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/userControllPage/submit.png);
    background-repeat: no-repeat;
    background-size: 60px 28px;
    width: 60px;
    height: 28px;
    margin-left: 210px;
    cursor: pointer;
}

.bk2 {
    display: none;
    position: absolute;
    top: 90px;
    left: 60px;
    display: flex;
    width: 0px;
    height: 0px;
}

.bk3 {
    display: none;
    position: absolute;
    top: 90px;
    left: 20px;
    width: 0px;
    height: 0px;
    display: flex;
}

.buyRecord {
    display: inline-block;
    width: 560px;
    height: 330px;
    margin: auto;
    overflow: scroll;
}

.buyRecord::-webkit-scrollbar {
    display: none;
}

.buyRecordList {
    width: 100%;
    /*測試用*/
    border-bottom: 1px solid rgba(161, 93, 29, 0.4);
}

.buyRecordList_leftImage {
    float: left;
    width: 96px;
    padding: 9px 0 13px 0;
    height: 100%;
}

.lightbox img.buyRecordList_image {
    width: 84px;
    height: auto;
    margin: auto;
    padding: 5px;
    border: 1px solid rgb(153, 53, 25);
    border-radius: 5px;
}

.buyRecordList_midInfo {
    float: left;
    width: 340px;
    height: 110px;
    margin-left: 8px;
}

.buyRecordList_midInfo_first {
    width: 100%;
    height: 30px;
}

.buyRecordList_midInfo_first_headContainer {
    width: 30px;
    height: 100%;
    float: left;
}

.lightbox img.buyRecordList_midInfo_smallHead {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%;
}

.buyRecordList_midInfo_first_name {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 600;
    height: 100%;
    font-size: 14px;
    line-height: 30px;
    float: left;
}

.buyRecordName {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.buyRecordList_midInfo_first_name a:hover {
    background-color: #cccccc;
}

.buyRecordList_midInfo_first_conact {
    width: 41px;
    height: 100%;
    line-height: 30px;
    float: left;
}

.lightbox img.buyRecordList_midInfo__conactBTN {
    display: inline-block;
    width: 41px;
    height: 20px;
    margin: 12px 0 3px 4px;
}

.buyRecordList_midInfo_two {
    letter-spacing: 1px;
    width: 100%;
    height: 22px;
    margin: 4px 0;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.buyRecordList_midInfo_three {
    word-spacing: 1px;
    width: 100%;
    height: 14px;
    margin: 3px 0;
    font-size: 10px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.buyRecordList_midInfo_four {
    width: 100%;
    height: 30px;
}

.lightbox img.buyRecordList_midInfo_getBTN {
    width: 66px;
    height: 20px;
    margin: 7px 0;
}

.buyRecordList_rightPrice {
    float: left;
    width: 96px;
    height: 100%;
    line-height: 96px;
    color: rgb(153, 53, 25);
    font-weight: 600;
    font-size: 30px;
}

.bigHeadUpload {
    display: inline-block;
    margin-left: 65px;
    max-width: 250px;
    overflow: hidden;
}